{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.portfolio.portfolio.enable }}
{{ with $data.portfolio.portfolio }}
{{"<!-- Portfolio Section -->" | safeHTML}}
<section class="portfolio section" id="portfolio">
	<div class="container">
		<div class="row ">
			<div class="col-xl-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
							{{ with .title }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
				{{"<!-- /section title -->" | safeHTML}}
			</div>
		</div>

			<div id="myTimeline" class="d-sm-none">

				{{ range $item := .timeline }}
					
					<div data-vtdate="{{ .date }}" class="portfolio-item">
						{{ .title }}
					</div>
				{{ end }}
			</div>
		
		<div class="row d-none d-sm-block">
			<div id="graph-container"></div>
		</div>

</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}
{{ end }}